<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
</head>
<body>
    <h1>Success!</h1>
    <a href=""><button style="float: right; color: white; background-color: green; height: 50px; width: 300px;font-size: 24px;">Upload Your Videos</button></a>
    <p>Your audio has been transcribed successfully.</p>

    <!-- Add a download link for the text file -->
    <a href="" download>Download Transcription</a>
</body>
</html>


